In [78]:
import numpy as np
import pandas as pd
import dask.dataframe as dd
import dask.array as da
import dask.bag as db

forex_df = dd.read_csv("/Users/robertwillfindyou/Downloads/HISTDATA_COM_ASCII_GBPUSD_T202501/DAT_ASCII_GBPUSD_T_202501.csv", header=None, blocksize=None)

forex_df.columns = ['datetime', 'bid', 'ask', 'other']

forex_df.head(10)

             datetime      bid      ask  other
0  20250101 170123324  1.25134  1.25240      0
1  20250101 170134857  1.25134  1.25236      0
2  20250101 170138819  1.25138  1.25236      0
3  20250101 170205545  1.25136  1.25236      0
4  20250101 170420239  1.25136  1.25236      0
5  20250101 170432938  1.25136  1.25218      0
6  20250101 170433241  1.25136  1.25209      0
7  20250101 170436259  1.25136  1.25218      0
8  20250101 170436511  1.25136  1.25214      0
9  20250101 170436763  1.25136  1.25209      0

In [79]:
print(forex_df.bid.describe().compute())

count    2.660109e+06
mean     1.234478e+00
std      1.137918e-02
min      1.209920e+00
25%      1.223650e+00
50%      1.234950e+00
75%      1.244150e+00
max      1.257560e+00
Name: bid, dtype: float64

In [80]:
forex_df["price"] = (forex_df["bid"] + forex_df["ask"])/2
forex_df.head()

             datetime      bid      ask  other    price
0  20250101 170123324  1.25134  1.25240      0  1.25187
1  20250101 170134857  1.25134  1.25236      0  1.25185
2  20250101 170138819  1.25138  1.25236      0  1.25187
3  20250101 170205545  1.25136  1.25236      0  1.25186
4  20250101 170420239  1.25136  1.25236      0  1.25186

In [ ]:


# Intrinsic Time Transformation Function
def intrinsic_time_transformation(tick_data, delta_up, delta_down):
    """
    Apply intrinsic time transformation to tick data.
    
    Parameters:
    - tick_data (pd.DataFrame): DataFrame containing 'timestamp' and 'price' columns.
    - delta_up (float): Threshold for significant upward price movements.
    - delta_down (float): Threshold for significant downward price movements.
    
    Returns:
    - events (pd.DataFrame): DataFrame with identified intrinsic events.
    """
    # Initialize variables
    events = []
    mode = None  # Market direction (None at start)
    first_tick = True
    S_ext = None  # Extreme price
    S_IE = None   # Last intrinsic event price
    
    # Iterate through tick data
    for index, row in tick_data.iterrows():
        timestamp, S_tick = row['timestamp'], row['price']
        
        # Handle first tick
        if first_tick:
            S_ext = S_tick
            S_IE = S_tick
            first_tick = False
            mode = 'up'  # Initial mode assumption
            continue

        if mode == 'up':
            if S_tick - S_ext >= delta_up:
                mode = 'down'
                S_ext = S_tick
                S_IE = S_tick
                events.append((timestamp, S_tick, 1))  # Uptrend event
            elif S_tick < S_ext:
                S_ext = S_tick
                if S_IE - S_ext >= delta_down:
                    S_IE = S_tick
                    events.append((timestamp, S_tick, -2))  # Downtrend confirmation
        elif mode == 'down':
            if S_ext - S_tick >= delta_down:
                mode = 'up'
                S_ext = S_tick
                S_IE = S_tick
                events.append((timestamp, S_tick, -1))  # Downtrend event
            elif S_tick > S_ext:
                S_ext = S_tick
                if S_ext - S_IE >= delta_up:
                    S_IE = S_tick
                    events.append((timestamp, S_tick, 2))  # Uptrend confirmation

    # Convert to DataFrame
    events_df = pd.DataFrame(events, columns=['timestamp', 'price', 'event_type'])
    return events_df

# Sample tick data (replace with actual data)
data = {
    'timestamp': pd.date_range(start='2025-01-01 09:00:00', periods=100, freq='S'),
    'price': 100 + (pd.Series(range(100)) * 0.02)  # Simulated price data
}
df = pd.DataFrame(data)

# Define thresholds
delta_up = 0.1
delta_down = 0.1

# Apply intrinsic time transformation
intrinsic_events = intrinsic_time_transformation(df, delta_up, delta_down)

# Display results
print(intrinsic_events)

In [ ]:
import dask.dataframe as dd
import pandas as pd

# Function to apply intrinsic time transformation to a pandas DataFrame partition
def intrinsic_time_transformation_partition(df, delta_up, delta_down):
    """
    Apply intrinsic time transformation to a pandas DataFrame partition.

    Parameters:
    - df (pd.DataFrame): DataFrame containing 'datetime', 'bid', and 'ask' columns.
    - delta_up (float): Threshold for significant upward price movements.
    - delta_down (float): Threshold for significant downward price movements.

    Returns:
    - pd.DataFrame: DataFrame with an additional 'event_type' column.
    """
    # Calculate mid-price
    df['mid_price'] = (df['bid'] + df['ask']) / 2

    # Initialize variables
    events = []
    mode = None  # Market direction (None at start)
    first_tick = True
    S_ext = None  # Extreme price
    S_IE = None   # Last intrinsic event price

    # Iterate through tick data
    for index, row in df.iterrows():
        timestamp, S_tick = row['datetime'], row['mid_price']

        # Handle first tick
        if first_tick:
            S_ext = S_tick
            S_IE = S_tick
            first_tick = False
            mode = 'up'  # Initial mode assumption
            events.append(0)  # No event for the first tick

        elif mode == 'up':
            if S_tick - S_ext >= delta_up:
                mode = 'down'
                S_ext = S_tick
                S_IE = S_tick
                events.append(1)  # Uptrend reversal → Downtrend starts
            elif S_tick < S_ext:
                S_ext = S_tick
                if S_IE - S_ext >= delta_down:
                    S_IE = S_tick
                    events.append(-2)  # Downtrend confirmation
                else:
                    events.append(0)  # No event
            
        elif mode == 'down':
            if S_ext - S_tick >= delta_down:
                mode = 'up'
                S_ext = S_tick
                S_IE = S_tick
                events.append(-1)  # Downtrend reversal → Uptrend starts
            elif S_tick > S_ext:
                S_ext = S_tick
                if S_ext - S_IE >= delta_up:
                    S_IE = S_tick
                    events.append(2)  # Uptrend confirmation
                else:
                    events.append(0)  # No event
            

    # Add event types as a new column
    df['event_type'] = events
    return df.drop(columns=['mid_price'])


# Convert pandas DataFrame to Dask DataFrame with 2 partitions
#ddf = dd.from_pandas(pdf, npartitions=2)

# Define thresholds
delta_up = 0.0001
delta_down = 0.0001

# Apply the intrinsic time transformation to each partition
ddf_transformed = forex_df.map_partitions(intrinsic_time_transformation_partition, delta_up, delta_down)

# Compute the result
result = ddf_transformed.compute()

# Display results
print(result.head(100))  # Show the first 20 rows

ValueError: Metadata inference failed in `intrinsic_time_transformation_partition`.

You have supplied a custom function and Dask is unable to
determine the type of output that that function returns.

To resolve this please provide a meta= keyword.
The docstring of the Dask function you ran should have more information.

Original error is below:
------------------------
ValueError('Length of values (1) does not match length of index (2)')

Traceback:
---------
  File "/opt/anaconda3/lib/python3.12/site-packages/dask/dataframe/utils.py", line 193, in raise_on_meta_error
    yield
  File "/opt/anaconda3/lib/python3.12/site-packages/dask_expr/_expr.py", line 4062, in _emulate
    return func(*_extract_meta(args, True), **_extract_meta(kwargs, True))
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/var/folders/9y/pjl381bj33qg4q5hcl7lwdzr0000gn/T/ipykernel_39369/1284794852.py", line 69, in intrinsic_time_transformation_partition
    df['event_type'] = events
    ~~^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/frame.py", line 4311, in __setitem__
    self._set_item(key, value)
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/frame.py", line 4524, in _set_item
    value, refs = self._sanitize_column(value)
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/frame.py", line 5266, in _sanitize_column
    com.require_length_match(value, self.index)
  File "/opt/anaconda3/lib/python3.12/site-packages/pandas/core/common.py", line 573, in require_length_match
    raise ValueError(

In [77]:
result.head(60)

              datetime      bid      ask  other     price  event_type
0   20250101 170123324  1.25134  1.25240      0  1.251870           0
1   20250101 170134857  1.25134  1.25236      0  1.251850           0
2   20250101 170138819  1.25138  1.25236      0  1.251870           0
3   20250101 170205545  1.25136  1.25236      0  1.251860           0
4   20250101 170420239  1.25136  1.25236      0  1.251860           0
5   20250101 170432938  1.25136  1.25218      0  1.251770           0
6   20250101 170433241  1.25136  1.25209      0  1.251725          -2
7   20250101 170436259  1.25136  1.25218      0  1.251770           0
8   20250101 170436511  1.25136  1.25214      0  1.251750           0
9   20250101 170436763  1.25136  1.25209      0  1.251725           0
10  20250101 170438018  1.25134  1.25210      0  1.251720           0
11  20250101 170440529  1.25134  1.25205      0  1.251695           0
12  20250101 170442989  1.25113  1.25206      0  1.251595          -2
13  20250101 170444293  1.25113  1.25202      0  1.251575           0
14  20250101 170444544  1.25113  1.25198      0  1.251555           0
15  20250101 170444796  1.25113  1.25190      0  1.251515           0
16  20250101 170500090  1.25113  1.25200      0  1.251565           0
17  20250101 170500393  1.25113  1.25199      0  1.251560           0
18  20250101 170500444  1.25113  1.25193      0  1.251530           0
19  20250101 170502409  1.25113  1.25194      0  1.251535           0
20  20250101 170503064  1.25113  1.25188      0  1.251505           0
21  20250101 170508941  1.25113  1.25189      0  1.251510           0
22  20250101 170512908  1.25113  1.25192      0  1.251525           0
23  20250101 170513564  1.25113  1.25190      0  1.251515           0
24  20250101 170516275  1.25113  1.25196      0  1.251545           0
25  20250101 170521557  1.25113  1.25190      0  1.251515           0
26  20250101 170530743  1.25113  1.25191      0  1.251520           0
27  20250101 170540775  1.25114  1.25192      0  1.251530           0
28  20250101 170545397  1.25106  1.25191      0  1.251485          -2
29  20250101 170612821  1.25106  1.25193      0  1.251495           0
30  20250101 170617757  1.25106  1.25195      0  1.251505           0
31  20250101 170618762  1.25106  1.25196      0  1.251510           0
32  20250101 170634411  1.25106  1.25196      0  1.251510           0
33  20250101 170634462  1.25106  1.25189      0  1.251475           0
34  20250101 170636777  1.25106  1.25192      0  1.251490           0
35  20250101 170641548  1.25106  1.25197      0  1.251515           0
36  20250101 170643254  1.25106  1.25196      0  1.251510           0
37  20250101 170643357  1.25106  1.25186      0  1.251460           0
38  20250101 170645772  1.25106  1.25192      0  1.251490           0
39  20250101 170645823  1.25106  1.25184      0  1.251450           0
40  20250101 170646933  1.25106  1.25190      0  1.251480           0
41  20250101 170646985  1.25106  1.25182      0  1.251440           0
42  20250101 170653316  1.25106  1.25182      0  1.251440           0
43  20250101 170703360  1.25106  1.25189      0  1.251475           0
44  20250101 170703462  1.25106  1.25192      0  1.251490           0
45  20250101 170713465  1.25106  1.25199      0  1.251525           0
46  20250101 170723412  1.25104  1.25199      0  1.251515           0
47  20250101 170727551  1.25104  1.25196      0  1.251500           0
48  20250101 170727703  1.25101  1.25195      0  1.251480           0
49  20250101 170737798  1.25101  1.25195      0  1.251480           0
50  20250101 170820921  1.25103  1.25192      0  1.251475           0
51  20250101 170822077  1.25102  1.25190      0  1.251460           0
52  20250101 170841407  1.25103  1.25192      0  1.251475           0
53  20250101 170911405  1.25103  1.25189      0  1.251460           0
54  20250101 170937287  1.25107  1.25193      0  1.251500           0
55  20250101 170957853  1.25107  1.25192      0  1.251495           0
56  20250101 170959861  1.25106  1.25190      0  1.251480           0
57  20250101 171002327  1.25110  1.25191      0  1.251505           0
58  20250101 171011421  1.25108  1.25191      0  1.251495           0
59  20250101 171047833  1.25111  1.25192      0  1.251515           0

In [26]:
print(ddf_transformed.event_type.describe().compute())

count    2.660109e+06
mean     7.894413e-06
std      2.892575e-01
min     -2.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.000000e+00
Name: event_type, dtype: float64